


<div class="row">
    <div class="col s12">

        <h3>My Progress</h3>
        
        <div class="progress">
            <div    class="determinate" 
                    style="width: 70%"
                    [style.width]="getPorcentaje"
                    role="progressbar">
            </div>
        </div>

        <div class="progress">
            <div class="determinate" style="width: 70%" [style.width]="getPorcentaje" role="progressbar">
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col s6">

        <div class="input-field col">
            
            <a (click)="cambiarValor(-5)" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove</i></a>
            
            <div class="input-field inline">
                <input 
                id="icon_prefix" 
                type="number"
                min="0"
                max="100" 
                class="validate"
                [(ngModel)]="progreso"
                >

                <label for="icon_prefix">First Name</label>
            </div>

            <a (click)="cambiarValor(5)" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        


    </div>

    <div class="col s6">
        1
    </div>
</div>
