<mat-card>
    <mat-card-header class="mb-4">
        <mat-card-title-group>
            <mat-card-title>Detalle del día</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    
    <!-- <mat-card-content>
        <p>Fecha: {{ addDaysISO }}</p>
        <p>Aquí mostraremos la receta asignada y permitiremos cambiarla.</p>
    </mat-card-content> -->

    <mat-card-content>
        <p class="mb-2"><strong>Fecha:</strong> {{ date }}</p>
    
        <ng-container *ngIf="!loading; else loadingTpl">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Receta</mat-label>
                <mat-select [(value)]="selectedDishId">
                    <mat-option *ngFor="let d of dishes" [value]="d.id">{{ d.name }}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <div class="mt-2 d-flex gap-2">
                <button mat-raised-button color="primary" (click)="save()" [disabled]="saving || !selectedDishId">
                    Guardar
                </button>
                <a mat-button [routerLink]="['/planner/calendar']" [queryParams]="{ start: start, days: days }">Cancelar</a>
            </div>
        </ng-container>
    
        <ng-template #loadingTpl>Cargando…</ng-template>
    </mat-card-content>
</mat-card>