<section class="" style="background-color: #508bfc;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign in</h3>
                        
                        <form [formGroup]="form" (ngSubmit)="onSubmitEmail()">

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" formControlName="email" />
                                <label class="form-label" for="typeEmailX-2">Email</label>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" formControlName="password" />
                                <label class="form-label" for="typePasswordX-2">Password</label>
                            </div>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-start mb-4">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" formControlName="remember" />
                                <label class="form-check-label" for="form1Example3"> Remember password </label>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" [disabled]="loading || form.invalid">
                                    Login
                                </button>
                            </div>
                            <p>
                                <a (click)="onForgotPassword()">¿Olvidaste tu contraseña?</a>
                            </p>
                            
                            <p>
                                ¿No tienes cuenta?
                                <a routerLink="/register">Crear cuenta</a>
                            </p>
                        </form>

                        <hr class="my-4">
                        <div class="d-grid gap-2">
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-danger btn-google" (click)="loginWithGoogle()" [disabled]="loading">
                                <i class="bi bi-google"></i> Sign in with google
                            </button>
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary mb-2" type="submit"><i class="fab fa-facebook-f me-2"></i>Sign
                            in with facebook</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>