<section style="background-color: #508bfc;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        


                            <h3>Crear cuenta</h3>
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="name">
                                </mat-form-field>
                            
                        
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="email">
                                </mat-form-field>
                        
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput type="password" formControlName="password">
                                </mat-form-field>
                        
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Confirmar contraseña</mat-label>
                                    <input matInput type="password" formControlName="confirm">
                                </mat-form-field>
                        
                                <mat-checkbox formControlName="remember">Mantener sesión iniciada</mat-checkbox>
                                <mat-checkbox formControlName="terms">Acepto los términos y condiciones</mat-checkbox>
                        
                                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
                                    Crear cuenta
                                </button>
                                
                                <hr class="my-4">
                        
                                <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
                            </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>