<mat-card>
    <mat-card-title>Recetas</mat-card-title>
    <div class="mb-2">
        <a mat-raised-button color="primary" routerLink="new">Nueva receta</a>
    </div>

    <table mat-table [dataSource]="data" class="w-100" *ngIf="!loading; else loadingTpl">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let r">{{ r.name }}</td>
        </ng-container>

        <ng-container matColumnDef="servings">
            <th mat-header-cell *matHeaderCellDef>Porciones</th>
            <td mat-cell *matCellDef="let r">{{ r.servings }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let r">
                <!-- luego: editar/eliminar -->
                <button mat-button color="primary" [routerLink]="['/dishes', r.id]">Ver</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <ng-template #loadingTpl> Cargando... </ng-template>
</mat-card>