<div class="container my-3">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-xl-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Plan actual</mat-card-title>
                </mat-card-header>
                <mat-card-content>Días planificados: 12 / 30</mat-card-content>
            </mat-card>
        </div>

        <div class="col-12 col-md-6 col-xl-3">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Presupuesto</mat-card-title>
                </mat-card-header>
                <mat-card-content>$ 42.500 estimado</mat-card-content>
            </mat-card>
        </div>

        <div class="col-12 col-lg-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Calendario (resumen)</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="placeholder">Calendario</div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-12 col-lg-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Recetas destacadas</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row g-2">
                        <div class="col-6">
                            <mat-card appearance="outlined"><mat-card-content>Porotos
                                    granados</mat-card-content></mat-card>
                        </div>
                        <div class="col-6">
                            <mat-card appearance="outlined"><mat-card-content>Charquicán</mat-card-content></mat-card>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>