/**********************************************
 * Estilos globales
 **********************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

 html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-text-field-wrapper,
.mat-mdc-form-field-flex,
.mat-mdc-form-field-infix {
  overflow: visible;
}

.mat-typography h3{
  // margin-bottom: 0 !important;
}

.snackbar-error {
  background-color: #c62828; // rojo Material 800
  color: #fff;
}
.snackbar-success {
  background-color: #2e7d32; // verde Material 800
  color: #fff;
}
.snackbar-info {
  background-color: #1565c0; // azul Material 800
  color: #fff;
}

// src/styles.scss

// Clase auxiliar para hacer inputs de Material m치s compactos (Estilo GitHub)
.compact-form-field {
  .mat-mdc-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-mdc-form-field-subscript-wrapper {
    // Oculta el espacio de error si no hay error, o lo hace m치s peque침o
    display: none;
  }

  &.ng-invalid.ng-touched .mat-mdc-form-field-subscript-wrapper {
    display: block; // Mostrar solo si hay error
    position: static;
    margin-top: 4px;
  }
}

// Utilidad para inputs sin subscript (espacio inferior) en tablas
.no-subscript .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.icon-xs {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
}

.icon-sm {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.icon-md {
  font-size: 24px !important;
  width: 24px !important;
  height: 24px !important;
  line-height: 24px !important;
}

@media print {

  // Ocultar sidebar, header, etc.
  app-shell mat-sidenav,
  app-shell mat-toolbar {
    display: none !important;
  }

  // Resetear m치rgenes
  .mat-drawer-content {
    margin-left: 0 !important;
    padding: 0 !important;
  }

  // Asegurar colores de fondo
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}