/**********************************************
 * Estilos globales
 **********************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

 html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-text-field-wrapper,
.mat-mdc-form-field-flex,
.mat-mdc-form-field-infix {
  overflow: visible;
}

.snackbar-error {
  background-color: #c62828; // rojo Material 800
  color: #fff;
}
.snackbar-success {
  background-color: #2e7d32; // verde Material 800
  color: #fff;
}
.snackbar-info {
  background-color: #1565c0; // azul Material 800
  color: #fff;
}