<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Planificador Semanal</h2>
    </div>

    <div *ngIf="loading()" class="text-center my-5">
        <p>Cargando calendario...</p>
    </div>

    <div *ngIf="viewData() as data" class="row g-3">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let date of data.dates">

            <app-day-card [date]="date" [title]="(date | date:'EEEE d') || ''" (click)="openDay(date, data.start, data.days)">

                <div class="text-center p-2">
                    <h4 class="mb-0">
                        {{ getDishName(date, data.plan, data.dishesMap) }}
                    </h4>
                </div>

            </app-day-card>

        </div>
    </div>
</div>